.bar_chart{
    display: table;
}

.bar_chart_value{
    display: table-cell;
    padding: 0 10px 0 0;
}

.bar_chart_label{
    display: table-cell;
}

.bar_chart_bar{
    display: table-cell;
    width: 200px;
    padding: 0px 10px;
    margin: 1px 0px;
}

.bar_chart_bar_fill{
    display:block;
    height:20px;
    background: white;
}

.bar_chart_row{
    display: table-row;
}