QWidget{
    font-size: 20px;
}
.ContentScroller{
}
.MainWindow{
}
.BarBotHeader{
    font-size: 30px;
    margin:0;
}
.Headline{
    font-size: 20px;
}
.RecipeTitle{
    font-size: 20px;
}
.NumpadButton{
    font-size: 30px;
    width: 100px;
    height: 100px;
}
.PasswordBox{
    font-size: 30px;
    width: 200px;
}
.BarChartBar{
    background-color: gray;
}
.BarChartWrapper{
    border-color: gray;
    border-width: 1px;
}